@import '../../../styles/main.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;

  &__name {
    @include h3;
  }

  &__title_users {
    margin-top: 8px;
    @include h4;
  }

  &__users {
    margin-left: 5px;
    @include h5;
  }
}
