$white: #fff;
$black: #000;
$purple: #706DFB;
$aliceblue: #f0f8ff;
$dark-grey-blue: #9099ad;
$lightsalmon: #FFA07A;

@mixin h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

@mixin h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
}

@mixin h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

@mixin h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

@mixin h5 {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

